<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Calcule e resolva</title>
  <link rel="stylesheet" href="../Estilo/style.css">

  <link rel="stylesheet" type="text/css" href="bootstrap-5.1.3-dist/css/bootstrap.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script type="text/javascript" src="jquery.js"></script> 

</head>
<body style="background-color: cornflowerblue;">
  <!-- Aqui começa o bodstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Nosso jogos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="index.html">Resolva e aprenda</a></li>
              <li><a class="dropdown-item" href="../jogoda Memoria/index.html">jogo da memoria</a></li>
              <li><hr class="dropdown-divider"></li>
            
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Extra</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <!-- fim do bodstrap -->
  <div class="container">	
    <div class="row">
  	  <div class="two-thirds column">
        <h2 style="color: aliceblue;">Calcule</h2>

        <div id="progress_bar"></div>
  	  	<form class="questions_box">

  	  		<div id="question-1">
  	  		  <h2>Questão 1</h2>
  	  			<h3>2+2</h3>
  	  			<input id="question-1-answer-a" type="radio" name="favelang" value=0> 1<br>
  				  <input id="question-1-answer-b" type="radio" name="favelang" value=0> 2<br>
  				  <input id="question-1-answer-c" type="radio" name="favelang" value=2> 4<br>
  				  <div id="submit1" class="button">Enviar Resposta</div>
            <div class="clearfix"></div>
  			  </div>

  			 <div id="question-2">
  				 <h2>Questão 2</h2>
  				 <h3>2+6</h3>
  	  		 <input id="question-2-answer-a" type="radio" name="favelang" value="0"> 4<br>
  				 <input id="question-2-answer-b" type="radio" name="favelang" value="0"> 5<br>
  				 <input id="question-2-answer-c" type="radio" name="favelang" value="2"> 8<br>
  				 <div id="submit2" class="button">Enviar Resposta</div>
           <div class="clearfix"></div>
  			 </div>
  			
  			 <div id="question-3">	
  				 <h2>Questão 3</h2>
  				 <h3>22+12</h3>
  	  		 <input id="question-3-answer-a" type="radio" name="favelang" value="0"> 36<br>
  				 <input id="question-3-answer-b" type="radio" name="favelang" value="0"> 35<br>
  				 <input id="question-3-answer-c" type="radio" name="favelang" value="2"> 34<br>
  				 <div id="submit3" class="button">Enviar Resposta</div>
           <div class="clearfix"></div>
  			 </div>

         <div id="question-4">
            <h2>Questão 4</h2>
            <h3>26+15</h3>
            <input id="question-1-answer-a" type="radio" name="favelang" value="2"> 41 <br>
            <input id="question-1-answer-b" type="radio" name="favelang" value="0"> 31<br>
            <input id="question-1-answer-c" type="radio" name="favelang" value="0"> 33<br>
            <div id="submit4" class="button">Enviar Resposta</div>
            <div class="clearfix"></div>
          </div>

          <div id="question-5">
            <h2>Questão 5</h2>
            <h3>33+17</h3>
            <input id="question-1-answer-a" type="radio" name="favelang" value="0"> 51<br>
            <input id="question-1-answer-b" type="radio" name="favelang" value="0"> 52<br>
            <input id="question-1-answer-c" type="radio" name="favelang" value="2"> 50<br>
            <div id="submit5" class="button">Enviar Resposta</div>
            <div class="clearfix"></div>
          </div>
          

         <div id="question-6"> 
           <h2>Chegamos ao fim</h2>
           <h3>Seu score de final neste nivel é: </h3>
           <h1 id=printtotalscore></h1>
           <p id=printscoreinfo></p>

           <input type="button" class="button" value="Nivel 2" onclick="window.location.href='../view/nivel2.html'">Deseja passar para o proximo nivel ?

         </div>


  				
  	  	</form>

  	  </div>
  	</div>
  </div>

<script src="nivel2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="../js/scripts.js"></script>
</body>
</html>